body {
  background-color: rgb(255, 255, 255);
}
* {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
p {
  color: rgb(0, 0, 0);
  text-align: center;
}



.slika {
  margin: 10px;
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  border: 2px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #0a22bd;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}




